*{
    margin: 0;
    padding: 0;
}


.img{
    background-image: url(./assets/images/pexels-perfecto-capucine-515848-1329571.jpg);
    background-attachment: fixed;
    height: 90vh;
  background-size: cover;
    background-repeat: no-repeat;
}